@use "../variables" as *;
@use "../mixin" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body{
    background-color: $darkPurple;
    color:$white;
    font-family: 'Roboto', sans-serif;

    .loading{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            font-size: 25vw;
            color: $white;
        }
    }
}

@media (min-width: $pc) {
    body{
        .loading{
            svg{
                font-size: 5vw;
            }
        }
    }
}


@include keyframes-translate3d(x-50vw, -50vw, 0, 0);
@include keyframes-translate3d(x50vw, 50vw, 0, 0);
@include keyframes-translate3d(y5rem, 0, 5rem, 0);