@use "../variables" as *;

.navBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mbHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo{
            padding: 0.5rem;

            svg{
                color: $white;
                width: 1.2rem;
            }
        }

        .burger{
            width: 5vh;
            height: 5vh;
            margin: 1vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            div{
                width: 100%;
                height: 25%;
                background-color: $white;
                transition: 0.4s;
            }
    
            &.opened{

                .bar1{
                    transform: translateY(1.85vh) rotate(45deg);
                }
    
                .bar2{
                        opacity: 0;
                }
    
                .bar3{
                    transform: translateY(-1.85vh) rotate(-45deg);
                }
            }
        }
    }

    .navigation{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 0px;
        transition: 0.4s;
        overflow: hidden;

        .list{
            width: 80%;
            display: flex;
            flex-direction: column;

            a{
                width: 100%;
                padding: 1rem 0.5rem;
                margin:0.3rem 0;
                font-size: 1.2rem;
                cursor: pointer;
                background-color: $purple;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                color: $white;
            }
        }
    }
    
    &.opened{
        .navigation{
            max-height: 200px;
        }
    }
}

@media (min-width: $pc) {
    .navBar{
        flex-direction: row;
        width: 90%;
        margin:1rem auto;
        animation: y5rem 1s;
    
        .mbHeader{
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .logo{
                padding: 0;
    
                svg{
                    width: 1.5rem;
                }
            }
            .burger{
                display: none;
            }
        }
    
        .navigation{
            width: max-content;
            max-height: max-content;
    
            .list{
                width: 100%;
                flex-direction: row;
    
                a{
                    width: max-content;
                    margin:0.2rem 0.5rem; 
                    padding: 0.5rem 1rem;
                    font-size: 1.5rem;
                    background-color: $darkPurple;

                    &:hover {
                        border-radius: 5px;
                        background-color: $purple;
                        box-shadow: 0 0 0.2rem 0.2rem $lightPurple;
                    }
                }
            }
        }
        
        &.opened{
            .navigation{
                max-height: 300px;
            }
        }
    }
}
