@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#__next {
  overflow-x: hidden;
}

/* 
body::before {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  top: -19%;
  right: -50%;
  width: 106vw;
  height: 33vw;
  background-color: #fe5b02;
  border-radius: 9999px;
} */