body {
    background-color: black;
    overflow: hidden;

    .bubble{
        width: 0px;
        height: 0px;
        opacity: 1;
        position: absolute;
        animation-name: pop;
        animation-duration: 5s;
        animation-iteration-count: 1;
        border-radius: 500px;
        -moz-border-radius: 500px;
        -webkit-border-radius: 500px;
        transform: translateZ(0);
        animation-fill-mode: forwards;
    }
}

@keyframes pop {
    to {
      height: 500px;
      width: 500px;
      margin-top: -250px;
      margin-left: -250px;
      opacity: 0;
    }
}