@use "../variables" as *;

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        border-radius: 50%;
        width: 60%;
        margin-top: 2rem;
    }

    .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 3rem;
            margin-top: 2rem;
        }
    
        p{
            width: 90%;
            font-size: 1.2rem;
            margin-top: 2rem;
        }
    
        .icons{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 2rem;
    
            svg{
                font-size: 2rem;
                color: $white;
            }
        }
        .resume{
            margin:2rem 0;
            padding: 1rem 2rem;
            border-radius: 5px;
            border:2px solid $purple;
            cursor: pointer;
            font-size: 2rem;
            text-decoration: none;
            color: $white;
    
            &:hover{
                background-color: $lightPurple;
            }
        }
    }
}

@media (min-width: $pc) {
    .contact{
        flex-direction: row;
        justify-content: center;
    
        img{
            width: 25%;
        }
    
        .text{
            width: 50%;
            margin-left: 2rem;
        }
    }
}