@use "../variables" as *;

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .expCard{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            width: 100%;
        }

        .text{
            width: 90%;
    
            h1{
                font-size: 2rem;
                text-align: center;
            }
    
            h2{
                font-size: 1.5rem;
                text-align: center;
            }
    
            p{
                font-size: 1rem;
            }
        }


        
    }
}

@media (min-width: $pc) {
    .experience{
        .expCard{
            width: 90%;
            flex-direction: row-reverse;
            justify-content: space-between;

            img{
                width: 45%;
            }

            .text{
                width: 45%;
            }
        }
    }
}