@use "../variables" as *;

.home{
    width:100%;

    .greeting{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .text{
            width: 90%;
            padding: 1rem 0.5rem;
            background-color: $magnolia;
            color: $darkLiver;
            font-size: 1rem;
            border-radius: 5px;

            h1{
                font-size: 2rem;
                font-weight: bold;
                width: 100%;
                text-align: center;
            }

            p{
                font-size: 1rem;
                font-weight: bold;
                margin-top: 0.5rem;
            }

            .social{
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 1.5rem;
                margin-top: 1rem;

                svg{
                    font-size: 2rem;
                }

                .github{
                    color: #161b22;
                }

                .linkedin{
                    color:#0a66c2;
                }

                .google{
                    color:#d24736;
                }

                .twitter{
                    color:#0597e9;
                }

                .facebook{
                    color:#3f62a9;
                }

                .instagram{
                    color: #e44160;
                }

            }
        }

        #tsparticles{
            width: 100vw;
            height: 100vw;

            canvas{
                position: relative !important;
            }
        }
        
    }

    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            width: 90%;
            text-align: center;
            font-size: 4rem;
        }

        .skills{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .webDev{
                width: 90%;
                h1{
                    width: 100%;
                    font-size: 2rem;
                }

                .logos{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    svg{
                        font-size: 4rem;
                        margin:0.5rem;
                        position: relative;
                    }
                }

                ul{
                    li{
                        font-size: 1rem;
                    }
                }
            }
        }

            .cloud{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .logos{
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    svg{
                        font-size: 3rem;
                        margin:0.5rem;
                        position: relative;
                    }
                }

                ul{
                    width: 90%;
                    li{
                        font-size: 1rem;
                    }
                }

                img{
                    width: 100%;
                }

            }
    }
}