@use "../variables" as *;

.home{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .greeting{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .text{
            width: 90%;
            color: $white;
            font-size: 1rem;
            border-radius: 5px;
            margin-top: 2rem;

            h1{
                font-size: 2rem;
                font-weight: bold;
                width: 100%;
                text-align: center;
            }

            p{
                font-size: 1rem;
                font-weight: bold;
                margin-top: 0.5rem;
            }

            .social{
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 1.5rem;
                margin-top: 1rem;

                svg{
                    font-size: 2rem;
                }
            }
        }

        .particlesOne{
            width: 100vw;
            height: 100vw;
            position: relative;

            #tsparticles{
                width: 100vw;
                height: 100vw;
                position: absolute !important;

                canvas{
                    position: relative !important;
                }
            }
        }
        
    }

    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .skills{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .webDev{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;

                .text{
                    width: 90%;

                    h1{
                        width: 100%;
                        font-size: 2rem;
                        text-align: center;
                    }
    
                    .logos{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        margin-top: 2rem;
    
                        svg{
                            font-size: 4rem;
                            margin:0.5rem;
                            position: relative;
                        }
                    }
    
                    ul{
                        li{
                            font-size: 1.2rem;
                            margin-top: 1rem;
                        }
                    }
                }
                

                .particlesThree{
                    width: 100vw;
                    height: 100vw;
                    position: relative;
        
                    #tsparticlesthree{
                        width: 100vw;
                        height: 100vw;
                        position: absolute !important;
        
                        canvas{
                            position: relative !important;
                        }
                    }
                }
            }

            .cloud{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .text{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                    border-radius: 5px;
                
                    h1{
                        font-size: 3rem;
                        color: $white;
                        align-self: center;
                        text-align: center;
                    }
    
                    .logos{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        margin-top: 2rem;
    
                        svg{
                            font-size: 3rem;
                            position: relative;
                        }
                    }
    
                    ul{
                        width: 100%;
                        margin-top: 2rem;
                        li{
                            font-size: 1.2rem;
                            margin-top: 1rem;
                            color: $white;
                        }
                    }
                }

                .particlesTwo{
                    width: 100vw;
                    height: 100vw;
                    position: relative;
        
                    #tsparticlestwo{
                        width: 100vw;
                        height: 100vw;
                        position: absolute !important;
        
                        canvas{
                            position: relative !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $pc) {
    .home{
        .greeting{
            width: 90%;
            flex-direction: row;
            justify-content: space-between;

            .text{
                width: 45%;
                height: 30vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 2rem;
                background-color: $white;
                color: $darkPurple;

                h1{
                    font-size: 2vw;
                }

                p {
                    font-weight: normal;
                    font-size: 1.2vw;
                    letter-spacing: .05rem;
                    margin:0;
                    white-space: pre-wrap;
                    align-self: flex-start;
                }

                .social{
                    padding: 0;
                    margin:0;

                    a{
                        text-decoration: none;
                        color: black;
                        svg{
                            cursor: pointer;
                            font-size: 3vw;
                        }
                    }

                }
            }
    
            .particlesOne{
                width: 45vw;
                height: 30vw;
    
                #tsparticles{
                    width: 45vw;
                    height: 30vw;
                }
            }
        }

        .main{

            .skills{

    
                .webDev{
                    width: 90%;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    margin-top: 4.5rem;

                    .text{
                        width: 45%;
                        height: 30vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 2rem 2rem;
                        background-color: $white;
                        border-radius: 5px;
                        color: $darkPurple;
                        margin:0;

                        h1{
                            order: 1;
                            margin:0;
                            font-size: 2vw;
                            font-weight: bold;
                        }

                        .logos{
                            order: 3;
                            margin:0;
                            
                            svg{
                                font-size: 3vw;
                                width: 13%;
                                margin: 1rem 0 0 0;
                            }
                        }

                        ul{
                            order: 2;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-self: center;

                            li{
                                margin:0;
                                font-size: 1.2vw;
                            }
                        }
                    }
                    
    
                    .particlesThree{
                        width: 45vw;
                        height: 30vw;
            
                        #tsparticlesthree{
                            width: 45vw;
                            height: 30vw;
                        }
                    }
                }

                .cloud{
                    width: 90%;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 4.5rem;

                    .text{
                        width: 45%;
                        height: 30vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 2rem 2rem;
                        background-color: $white;
                        border-radius: 5px;
                        color: $darkPurple;
                        margin:0;
                        

                        h1{
                            order: 1;
                            margin:0;
                            font-size: 2vw;
                            font-weight: bold;
                            color: $darkPurple;
                        }

                        .logos{
                            order: 3;
                            
                            svg{
                                font-size: 3vw;
                                width: 13%;
                                margin: 1rem 0 0 0;
                            }
                        }

                        ul{
                            order: 2;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-self: center;

                            li{
                                margin:0;
                                font-size: 1.2vw;
                                color: $darkPurple;
                            }
                        }
                    }
        
                    .particlesTwo{
                        width: 45vw;
                        height: 30vw;
            
                        #tsparticlestwo{
                            width: 45vw;
                            height: 30vw;
                        }
                    }
                }
            }
        }
    }
}