@use "../variables" as *;

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .projectsCard{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
        }

        .text{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $white;
            color:$darkPurple;
            margin: 2rem 0 0 0;
            padding: 2rem 1rem;
            border-radius: 5px;

            h1{
                font-size:3rem;
                font-weight: bold;
            }
    
            p{
                font-size: 1.2rem;
                width: 100%;
                margin:2rem 0 0 0;
            }
        }
    }

    .projList{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        .card{
            width: 90%;
            background-color: $purple;
            color: $white;
            border-radius: 5px;
            margin-top: 1rem;
            animation:y5rem 1s;

            h1{
                font-size: 2rem;
                margin: 1rem 0 0 1rem;
            }

            h2{
                font-size: 1rem;
                margin: 1rem 0 0 1rem;
            }
            
            h3{
                font-size: 0.8rem;
                margin: 1rem 0 0 1rem;
            }

            .icons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding: 1rem 1rem 1rem 0;

                svg{
                    font-size: 2rem;
                    margin-left: 1rem;
                }
            }

            .links{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                a{
                    text-decoration: none;
                    background-color: $darkPurple;
                    color: $white;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    border-radius: 5px 5px 0 0;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
        }
    }
    .gitLink{
        margin:2rem 0;
        padding: 1rem 2rem;
        border-radius: 5px;
        border:2px solid $purple;
        cursor: pointer;
        font-size: 2rem;
        text-decoration: none;
        color: $white;

        &:hover{
            background-color: $lightPurple;
            font-weight: bold;
        }
    }
}

@media (min-width: $pc) {
    .projects{
        .projectsCard{
            width: 90%;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin:0;
    
            img{
                width: 49%;
                border-radius: 5px;
                animation: x50vw 1s;
            }
    
            .text{
                width: 49%;
                background: none;
                color:$white;
                margin:0;
                padding: 0;
                animation: x-50vw 1s;
            }
        }
    
        .projList{
            width: 90%;
            flex-direction: row;
            justify-content: space-between;
    
            .card{
                width: 32%;

                &:hover{
                    box-shadow: 0 0 0.5rem 0.5rem $lightPurple;
                }
            }

            .links{
                a{
                    &:hover{
                        box-shadow: 0 0 0.5rem 0.5rem $lightPurple;
                    }
                }
            }
        }
    }
}